<body class="relative text-black dark:text-white">
  @if (theme === 'dark') {
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    style="height: -webkit-fill-available; width: 100%"
  ></div>
  }@else if(theme === 'light') {
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    style="height: -webkit-fill-available; width: 100%"
  ></div>
  }
  <!-- header -->
  <app-header></app-header>

  <!-- Layout ! -->
  <app-custom-section [id]="'sectionId'" [class]="'py-16 md:py-16'">
    <app-layout></app-layout
  ></app-custom-section>

  <!-- Work Stack -->
  <app-custom-section [id]="'sectionId'">
    <app-work-pile></app-work-pile>
  </app-custom-section>

  <!-- Experiencie -->
  <app-custom-section [id]="'experience-section'" [class]="'py-16 md:py-16'">
    <app-experiencie></app-experiencie>
  </app-custom-section>

  <!-- Projects -->
  <app-custom-section [id]="'projects-section'" [class]="'py-16 md:py-16'">
    <app-projects></app-projects>
  </app-custom-section>

  <!-- About me -->
  <app-custom-section [id]="'about-me-section'" [class]="'py-16 md:py-16'">
    <app-about-me></app-about-me>
  </app-custom-section>

  <!-- footer -->
  <app-footer></app-footer>
</body>
