:host {
  display: block;
}
.global-container {
  animation: pile-shadow 1s infinite alternate;
}

@keyframes pile-shadow {
  to {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 360px) {
  .custom-margin-left {
    margin-left: 14px;
  }
}
