<div class="rounded-md bg-zinc-200/70 p-4 pb-6 dark:bg-zinc-900/70 w-9/12">
  <h2
    class="mb-2 text-center text-xl font-semibold text-zinc-900 dark:text-zinc-100"
  >
    My stack de trabajo
  </h2>
  <p class="mb-6 text-center dark:text-zinc-300">
    Utilizando principalmente Angular y Spring Boot, complementados con motores
    de base de datos como Mysql, PostgreSQL.
  </p>
  <div class="flex flex-wrap justify-center gap-5 md:gap-7">
    <app-java-icon [nameTooltip]="'Java'" class="{{ classIcons }}">
    </app-java-icon>
    <app-angular-icon [nameTooltip]="'Angular'" class="{{ classIcons }}">
    </app-angular-icon>
    <app-spring-icon [nameTooltip]="'Spring'" class="{{ classIcons }}">
    </app-spring-icon>
    <app-mysql-icon [nameTooltip]="'MySql'" class="{{ classIcons }}">
    </app-mysql-icon>
    <app-postgreSql-icon [nameTooltip]="'postgreSQL'" class="{{ classIcons }}">
    </app-postgreSql-icon>
  </div>
</div>
