@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@fontsource/onest');





html {
    font-family: 'Onest', sans-serif;
    scroll-behavior: smooth;
}

/* body {
    height: 100%;
    position: relative;
    width: 100%;
} */